header {
    background-color: #ff5757;
    color: #fff;
    padding: 10px 0;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

#projects img {
  width: 300px;
  height: auto;
  display: block;
  margin: 0 auto;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
}

#projects {
  margin-top: -100px;
}
